body{
    background-color:white
}
@media only screen and (min-width:500px){
    .chart-container{
        position:absolute;
        width:95%;
        left:2.5%;
        h6{
            text-align:center
        }
    }
}

@media only screen and (min-width:700px){
    .chart-container{
        position:absolute;
        width:90%;
        left:5%;
        h6{
            text-align:center
        }
    }
}



@media only screen and (min-width:1500px){
    .chart-container{
        position:absolute;
        width:70%;
        left:15%;
        h6{
            text-align:center
        }
    }
}
    
