.error-container {
  background-color: black;
  height: 100vh;
  width: 100%;
}

.error-gif {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
}

@media screen and (min-width: 376px) {

  #goHome404:hover {
    color: #910c08;
  }
}