body {
  margin: 0;
  padding: 0;
}

/*Map Styles*/
#map {
  width: 100vw;
  height: 59vh;
}

.mapboxgl-popup {
  max-width: 400px;
  font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
  color: blue;
}

/*Normal Display*/
@media screen and (min-width: 960px){
  .map-overlay {
    font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    background-color: #3386c0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    position: absolute;
    width: 15vw;
    padding: 10px;
    display: none;
    color: white;
    top: 40%;
    left: 2.5%;
}
}

/*Mobile Display*/
@media screen and (max-width: 959px){
.map-overlay {
    font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    background-color: #3386c0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    position: absolute;
    left: 2.5%;
    padding: 10px;
    display: none;
    color: white;
    top: 40%;
}
}

/* Zoom in/out styling */
.mapboxgl-ctrl-group > button {
  background-color: #ff5ddc;
}
/*Geocoder Styling*/
.geocoder {
  position: absolute;
  z-index: 1;
  color: white;
  top: 2%;
  left: 2.5%;
  width: 40%;
}

.mapboxgl-ctrl-geocoder { min-width:100%; }

.mapboxgl-ctrl-geocoder .geocoder-icon-search {
  position: absolute;
  top: 20px;
}


/*Individual flyTo Style*/
#flyToContainer {
  background: transparent;
  position: absolute;
  z-index: 1;
  border-radius: 3px;
  font-family: 'Open Sans', sans-serif;
  bottom: 3%;
  right: 1.5%;
}

/*Map Menu Styles*/
#menu {
  background: transparent;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  border-radius: 3px;
  width: 0;
  //border: 1px solid rgba(0,0,0,0.4);
  font-family: 'Open Sans', sans-serif;
}

//#menu a {
//  font-size: 13px;
//  color: #404040;
//  display: block;
//  margin: 0;
//  padding: 0;
//  padding: 10px;
//  text-decoration: none;
//  border-bottom: 1px solid rgba(0,0,0,0.25);
//  text-align: center;
//}
//
//#menu a:last-child {
//  border: none;
//}
//
//#menu a:hover {
//  background-color: #f8f8f8;
//  color: #404040;
//}
//
//#menu a.active {
//  background-color: #3887be;
//  color: #ffffff;
//}
//
//#menu a.active:hover {
//  background: #3074a4;
//}

#homeButton:hover {
  color: #910c08;
}

#backButton:hover {
  color: #910c08;
}

#rotateCamera:hover {
  color: #910c08;
}

#flyTo:hover {
  color: #910c08;
}

#featureButton:hover {
  color: #910c08;
}


/**
*Features Menu
* */
//Normal Display
@media screen and (min-width: 376px) {
  #features {
    display: none;
    position: absolute;
    top: 10%;
    right: 0;
    bottom: 0;
    width: 20vw;
    height: 30vh;
    overflow: auto;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 7%;
    border: 2px solid black;
  }

  p.featureInfo {
    margin: 20px;
    font-size: 1.5vmin;
    overflow: hidden;
  }
}
//Mobile Display
@media screen and (max-width: 375px) {
  #features {
    display: none;
    position: absolute;
    top: 10%;
    right: 0;
    bottom: 0;
    width: 50vw;
    height: 30vh;
    overflow: auto;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 7%;
    border: 2px solid black;
  }

  p.featureInfo {
    margin: 20px;
    font-size: 2.5vmin;
    overflow: hidden;
  }
}

/*
* Crime Count Container
*/
#crimeCountContainer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100vw;
  height: 5vmin;
  overflow: auto;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 7%;
  border: 2px solid black;
  font-size: 2.5vmin;
  margin: 0;
  display: flex;
  align-content: center;
  align-items: center;

  span {
    margin: auto;
  }
}

/**
* Back Button
**/
.material-icons {
  font-size: 2rem;
  color: #ff5ddc;
  text-shadow: 1px 1px black;
  cursor: pointer;
}

i {
  position: relative;
  
}

/**
* Spinner Preloader for the map
 */
.spinnerContainer {
  height: 59vh;
  width: 100vw;
  display: flex;
}

.preloader-wrapper.big.active {
  margin: auto;
}

.preloader-wrapper.big {
  width: 20vw;
  height: 20vw;
}


/* Legend Display */

  .legend {
    height:1.8vh;
    width: 3vw; 
    
  }
  .legendContainer {
    display: flex;
    justify-content: flex-end;
    background-color: transparent;
    position: absolute;
    z-index: 1;
    left: 2.5%;
    top: 80;
    bottom: 7%;
    border-style: solid;
    border-width: 1px;
}

  .maxNumber{
    display: flex;
    justify-content: flex-end;
    background-color: transparent;
    position: absolute;
    z-index: 1;
    bottom: 50px;
    right: 10px;
    color: white;
  }

  .minNumber{
    display: flex;
    justify-content: flex-end;
    background-color: transparent;
    position: absolute;
    z-index: 1;
    bottom: 50px;
    right: 230px;
    color: white;
  }