body {
  margin: 0;
  padding: 0;
}

/*Map Styles*/
#map {
  width: 100vw;
  height: 59vh;
}

.mapboxgl-popup {
  max-width: 400px;
  font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
  color: blue;
 

}

.map-overlay {
  font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
  background-color:#3386c0;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.10);
  border-radius: 3px;
  position: absolute;
  width: 15%;
  top: 10px;
  left: 10px;
  padding: 10px;
  display: none;
  color: white;
}

/* Zoom in/out styling */
.mapboxgl-ctrl-group > button {
  background-color: #ff5ddc;
}
/*Geocoder Styling*/
.geocoder {
  position:absolute;
  z-index:1;
  width:50%;
  left:50%;
  margin-left:-25%;
  top:20px;
  color:white;
  }
.mapboxgl-ctrl-geocoder { min-width:100%; }

.mapboxgl-ctrl-geocoder .geocoder-icon-search {
  position: absolute;
  top: 20px;
  left: 10px;
}

// /*Map Menu Styles*/
#menu {
  background: transparent;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  border-radius: 3px;
  width: 60px;
  //border: 1px solid rgba(0,0,0,0.4);
  font-family: 'Open Sans', sans-serif;
}

#menu a {
  font-size: 13px;
  color: #404040;
  display: block;
  margin: 0;
  padding: 0;
  padding: 10px;
  text-decoration: none;
  border-bottom: 1px solid rgba(0,0,0,0.25);
  text-align: center;
}

#menu a:last-child {
  border: none;
}

#menu a:hover {
  background-color: #f8f8f8;
  color: #404040;
}

#menu a.active {
  background-color: #3887be;
  color: #ffffff;
}

#menu a.active:hover {
  background: #3074a4;
}


/**
*Features Menu
* */
#features {
  display: none;
  position: absolute;
  top: 10%;
  right: 0;
  bottom: 0;
  width: 300px;
  height: 50%;
  overflow: auto;
  background: rgba(255, 255, 255, 0.8);
}

/**
* Back Button
**/
.material-icons {
  font-size: 2rem;
  color: #ff5ddc;
  text-shadow: 1px 1px black;
  cursor: pointer;
}

i {
  position: relative;
}