body{
  background-color: #424242;
}

tr{
  color: #546e7a;
}

td{
  color:deepskyblue;
  font-weight: bold;
  font-family: Calibri;
  font-size: 2.5vmin;
}

i{
  position: absolute;
  margin-left: 10px;
}


.head{
  width:98%;
  margin-left: 13px;
  font-family: Calibri;
}

.tabs{
  background-color: #910808;
  display: flex;
  font-weight: bold;
  font-family: Calibri;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: -10px;
  height:30px;
}

.tabs .tab a {
  color: #65a0bc;
}

.outer-div{
  width: 100vw;
  height: 41vh;
  border-radius: 5px;
}

a.mapboxgl-ctrl-logo {
  display: none;
}

.mapboxgl-ctrl-bottom-right {
  display: none;
}

.col.s12.center-align{
  margin-top: 20px;
  font-size: 20px;
}

td.center-align:hover{
  cursor: pointer;
  color: blue;
}

td.non.center-align{
  color: deepskyblue;
  cursor: default;
}

.container.col.s12{
  overflow:scroll;
  height: 41vh;
}
.row.center{
  overflow: auto;
}

