body{
  background-color: black;
}

.tabs{
  align-content: center;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: dimgrey;
  width: 100vw;
  height: 35vh;
}

.row .col.s12{
  width: 100%;
  left: 2px;
  position: absolute;
  bottom: 170px;
}

.totalcrimes{
  width: 100%;
}