
body{
  background-color: #212121;
}

#root {
  background-color: #212121;
  height: 100vh;
  width: 100%;
}

table{
  table-layout: fixed;
}

thead{
  font-size: 2.0vmin;
  line-height: .75;
}

tr{
  color: #546e7a;
  height: 1em;
}

td{
  color: whitesmoke;
  font-weight: bold;
  font-family: Calibri;
  font-size: 2.0vmin;
  overflow: hidden;
}

th{
  background-color: #003265;
  border-radius: 0px;
}

a{
  background-color: #026AD5;
}

.center-align{
  .header{
    word-spacing: 178px;
    font-weight: bold;
  }
  .headerdr{
    word-spacing: 95px;
    font-weight: bold;
  
  }
}

i{
  position: absolute;
  margin-left: 10px;
}

.stickyHeader{
  font-size: 2.0vmin;
  height: 45px;
  background-color: #003265;
  word-spacing: 178px;
  font-weight: bold;
  color: #546e7a;
}

.outer-div{
  background-color: #212121;

}

.tabs{
  background-color: #001A35;
  font-weight: bold;
  font-family: Calibri;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: -10px;
  height:30px;
  .tab{
    a {
      color: #65a0bc;
    }
  } 
}

.tabs{
  .tab{
    a {
      color: black;
    }
    a:hover {
      color: grey;
      background-color: 001A35;
    }
  }
}  

.collapsible-header{
  background-color: #616161;
}

.center-align{
  .report, .crime, .date, .time{
    width: 25%;
  }
  .dr, .areadr, .areaid, .description, .dateoccurred, .timeoccurred{
    width:16.6%
  }
} 


td.center-align:hover{
  cursor: pointer;
  color: grey;
}

td.non.center-align {
  color: whitesmoke;
  cursor: default;
}

a.mapboxgl-ctrl-logo {
  display: none;
}

.mapboxgl-ctrl-bottom-right {
  display: none;
}

.backButton{
  position:fixed;
  bottom:10px;
  right:10px;
  i{
    margin:auto
  }
}